.chat-box {
    width: 90%;
    min-height: 75vh;
    max-height: 75vh;
    overflow: scroll;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.input-util-box {
    min-height: 5vh;
    max-height: 5vh;
}

.notice-chat {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.other-user-chat {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.my-chat {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.chat-log {
    /*background-color: #198754;*/
}
