
.navigation {
    background-color: #67ffd5;
    min-height: 10vh;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.navigation span {
    margin: 0px 10px 0px 10px !important;
}