a {
  -webkit-transition: color 500ms linear;
  -ms-transition: color 500ms linear;
  transition: color 500ms linear;
  color: white;
  text-decoration: none !important;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 420px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  background-color: #bf8bff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
  word-break: keep-all;
  text-overflow: ellipsis;
}

a {
  -webkit-transition: color 500ms linear;
  -ms-transition: color 500ms linear;
  transition: color 500ms linear;
  text-decoration: none !important;
}

.blind {
  display: none;
}

div.app-head {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

div.app-head > span {
  margin: 0px 10px 0px 10px !important;
}